.navbar-brand-wrapper {
  background: #ffffff;
  float: left;
  text-align: center;
  height: 70px;
  position: relative;
  width: 250px;
  z-index: 1;
}

.navbar {
  border-top: 2px solid $primary;
  background: #ffffff;

  .navbar-toggler {
    margin: 20px 0px;
  }

  .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }

  .navbar-collapse {
    background-color: #ffffff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);

    &.collapse.show,
    &.collapsing {
      display: flex;
    }

    @include media-breakpoint-up(lg) {
      height: 70px;
    }

    @include media-breakpoint-down(md) {
      box-shadow: none;
      border-top: 1px solid $body-bg;
    }
  }

  .page-header {
    border-right: 1px solid #e2e5ec;
    font-weight: 400;
    padding-right: 20px;
    margin-right: 15px;
  }
}
